@tailwind base;
@tailwind components;
@tailwind utilities;

@page: first {
  margin-top: 0mm;
  /* No top margin */
  margin-bottom: 10mm;
}

@page {
  margin-top: 15mm;
  /* Top margin applies from page 2 */
  margin-bottom: 5mm;
}

:root {
  --font-body: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --font-heading: "Roboto", sans-serif;
  --base-font-size: 16px;
  --font-heading-weight: 700;
  --color-primary-base: #104072;
  --color-primary-10: #061a2e;
  --color-primary-20: #0a2644;
  --color-primary-30: #0d335b;
  --color-primary-40: #104072;
  --color-primary-50: #315e8c;
  --color-primary-60: #527ba6;
  --color-primary-70: #7399c1;
  --color-primary-80: #83a8ce;
  --color-primary-90: #94b6db;
  --color-primary-95: #b5d4f5;
  --color-primary-99: #d3e5f9;
  --color-secondary-base: #74b1dd;
  --color-secondary-10: #2d6790;
  --color-secondary-20: #3b76a0;
  --color-secondary-30: #5893be;
  --color-secondary-40: #74b1dd;
  --color-secondary-50: #90cffc;
  --color-secondary-60: #a6d9fd;
  --color-secondary-70: #bce2fd;
  --color-secondary-80: #d3ecfe;
  --color-secondary-90: #def1fe;
  --color-secondary-95: #e9f5fe;
  --color-secondary-99: #f4faff;
  --color-tertiary-10: #3a301b;
  --color-tertiary-20: #4e4024;
  --color-tertiary-30: #746037;
  --color-tertiary-40: #9b8049;
  --color-tertiary-50: #c2a05b;
  --color-tertiary-60: #ceb37c;
  --color-tertiary-70: #dac69d;
  --color-tertiary-80: #e7d9bd;
  --color-tertiary-90: #ede2ce;
  --color-tertiary-95: #f3ecde;
  --color-tertiary-99: #f9f5ef;
  --color-neutral-0: #000;
  --color-neutral-10: #1a1e24;
  --color-neutral-20: #262d37;
  --color-neutral-30: #333c49;
  --color-neutral-40: #404b5b;
  --color-neutral-50: #666f7c;
  --color-neutral-60: #8c939d;
  --color-neutral-70: #b3b7bd;
  --color-neutral-80: #c6c9ce;
  --color-neutral-90: #ecedef;
  --color-neutral-95: #f4f4f4;
  --color-neutral-99: #fafafa;
  --color-neutral-100: #fff;
  --color-positive-10: #063c16;
  --color-positive-20: #085a22;
  --color-positive-30: #0b782d;
  --color-positive-40: #0e9638;
  --color-positive-50: #35aa59;
  --color-positive-60: #5cbe7a;
  --color-positive-70: #83d39c;
  --color-positive-80: #96ddac;
  --color-positive-90: #aae7bd;
  --color-positive-95: #bdf1cd;
  --color-positive-99: #d1fbde;
  --color-negative-10: #4e0109;
  --color-negative-20: #74010d;
  --color-negative-30: #9b0212;
  --color-negative-40: #c20216;
  --color-negative-50: #ce293a;
  --color-negative-60: #da505e;
  --color-negative-70: #e67783;
  --color-negative-80: #ec8a95;
  --color-negative-90: #f29ea7;
  --color-negative-95: #f2cccd;
  --color-negative-99: #fdebeb;
  --color-warning-10: #4a3308;
  --color-warning-20: #674608;
  --color-warning-30: #8b5f0d;
  --color-warning-40: #ae7812;
  --color-warning-50: #d29117;
  --color-warning-60: #f6aa1c;
  --color-warning-70: #f8b943;
  --color-warning-80: #f9c76a;
  --color-warning-90: #fbd692;
  --color-warning-95: #fce4b9;
  --color-warning-99: #fef3e0;
  --color-ai-10: #1a1e55;
  --color-ai-20: #2f347c;
  --color-ai-30: #434aa2;
  --color-ai-40: #5860c9;
  --color-ai-50: #6d76ef;
  --color-ai-60: #8a91f2;
  --color-ai-70: #a7adf5;
  --color-ai-80: #c5c8f9;
  --color-ai-90: #d3d6fa;
  --color-ai-95: #e2e4fc;
  --color-ai-99: #f0f1fd;
}

[data-theme="aurora"] {
  --font-body: "Inter", sans-serif;
  --font-heading: "Right Grotesk", sans-serif;
  --base-font-size: 16px;
  --font-heading-weight: 500;
  --color-primary-base: #f56462;
  --color-primary-10: #441716;
  --color-primary-20: #561e1d;
  --color-primary-30: #7a2d2d;
  --color-primary-40: #a03e3c;
  --color-primary-50: #c5504e;
  --color-primary-60: #f56462;
  --color-primary-70: #fa8c86;
  --color-primary-80: #ffb3ae;
  --color-primary-90: #fcd1d0;
  --color-primary-95: #fedbd7;
  --color-primary-99: #ffedeb;
  --color-secondary-base: #e8ff63;
  --color-secondary-10: #23280a;
  --color-secondary-20: #2e330d;
  --color-secondary-30: #434a18;
  --color-secondary-40: #5a6321;
  --color-secondary-50: #657028;
  --color-secondary-60: #8a9839;
  --color-secondary-70: #a3b445;
  --color-secondary-80: #bdd04e;
  --color-secondary-90: #d8ee5c;
  --color-secondary-95: #e8ff63;
  --color-secondary-99: #f1ffa1;
  --color-tertiary-10: #23280a;
  --color-tertiary-20: #2e330d;
  --color-tertiary-30: #434a18;
  --color-tertiary-40: #5a6321;
  --color-tertiary-50: #657028;
  --color-tertiary-60: #8a9839;
  --color-tertiary-70: #a3b445;
  --color-tertiary-80: #bdd04e;
  --color-tertiary-90: #d8ee5c;
  --color-tertiary-95: #e8ff63;
  --color-tertiary-99: #f1ffa1;
  --color-neutral-0: #100f0e;
  --color-neutral-10: #1c1b1a;
  --color-neutral-20: #272625;
  --color-neutral-30: #31302e;
  --color-neutral-40: #484745;
  --color-neutral-50: #787673;
  --color-neutral-60: #92908c;
  --color-neutral-70: #aeaba6;
  --color-neutral-80: #c9c6c1;
  --color-neutral-90: #e6e2dc;
  --color-neutral-95: #f5f1eb;
  --color-neutral-99: #fbf9f7;
  --color-neutral-100: #fff;
  --color-positive-10: #063c16;
  --color-positive-20: #085a22;
  --color-positive-30: #0b782d;
  --color-positive-40: #0e9638;
  --color-positive-50: #35aa59;
  --color-positive-60: #5cbe7a;
  --color-positive-70: #83d39c;
  --color-positive-80: #96ddac;
  --color-positive-90: #aae7bd;
  --color-positive-95: #bdf1cd;
  --color-positive-99: #d1fbde;
  --color-negative-10: #4e0109;
  --color-negative-20: #74010d;
  --color-negative-30: #9b0212;
  --color-negative-40: #c20216;
  --color-negative-50: #ce293a;
  --color-negative-60: #da505e;
  --color-negative-70: #e67783;
  --color-negative-80: #ec8a95;
  --color-negative-90: #f29ea7;
  --color-negative-95: #f2cccd;
  --color-negative-99: #fdebeb;
  --color-warning-10: #4a3308;
  --color-warning-20: #674608;
  --color-warning-30: #8b5f0d;
  --color-warning-40: #ae7812;
  --color-warning-50: #d29117;
  --color-warning-60: #f6aa1c;
  --color-warning-70: #f8b943;
  --color-warning-80: #f9c76a;
  --color-warning-90: #fbd692;
  --color-warning-95: #fce4b9;
  --color-warning-99: #fef3e0;
  --color-info-10: #02174a;
  --color-info-20: #002063;
  --color-info-30: #012979;
  --color-info-40: #003dab;
  --color-info-50: #1252da;
  --color-info-60: #035ef9;
  --color-info-70: #508efe;
  --color-info-80: #7cabfe;
  --color-info-90: #a7c8fe;
  --color-info-95: #d3e4ff;
  --color-info-99: #e8f2ff;
  --color-ai-10: #1a1e55;
  --color-ai-20: #2f347c;
  --color-ai-30: #434aa2;
  --color-ai-40: #5860c9;
  --color-ai-50: #6d76ef;
  --color-ai-60: #8a91f2;
  --color-ai-70: #a7adf5;
  --color-ai-80: #c5c8f9;
  --color-ai-90: #d3d6fa;
  --color-ai-95: #e2e4fc;
  --color-ai-99: #f0f1fd;
}

[data-theme="aurora"] ::selection {
  background: var(--color-secondary-99);
  color: var(--color-neutral-10);
}

[data-theme="aurora"] ::-moz-selection {
  background: var(--color-secondary-99);
  color: var(--color-neutral-10);
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

main {
  display: block;
}

hr {
  box-sizing: content-box;
  overflow: visible;
}

a {
  background-color: transparent;
}

img {
  border-style: none;
}

button,
input,
select,
textarea {
  line-height: 1.15;
}

button,
input {
  overflow: visible;
}

[type="button"],
button {
  -webkit-appearance: button;
}

[type="button"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type="button"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

textarea {
  overflow: auto;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

details {
  display: block;
}

a {
  text-decoration: none;
}

a,
button {
  cursor: pointer;
}

button {
  background-color: transparent;
  border-width: 0;
  color: inherit;
  padding: 0;
}

input::-moz-focus-inner {
  border: 0;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h3 {
  margin: 0;
}

/* :export {
  mobile: 768px;
  sm: 320px;
  xsm: 640px;
  md: 768px;
  lg: 980px;
  xl: 1280px;
  xxl: 1440px;
  uhd: 1920px
} */

*,
:after,
:before {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: ;
}

/*! tailwindcss v3.4.12 | MIT License | https://tailwindcss.com*/
*,
:after,
:before {
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
}

:after,
:before {
  --tw-content: "";
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  font-family: var(--font-body), sans-serif;
  font-feature-settings: normal;
  font-variation-settings: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-tap-highlight-color: transparent;
}

body {
  line-height: inherit;
  margin: 0;
}

hr {
  border-top-width: 1px;
  color: inherit;
  height: 0;
}

h3 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

b {
  font-weight: bolder;
}

button,
input,
select,
textarea {
  color: inherit;
  font-family: inherit;
  font-feature-settings: inherit;
  font-size: 100%;
  font-variation-settings: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

button,
select {
  text-transform: none;
}

button,
input:where([type="button"]) {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

h3,
hr {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #9ca3af;
  opacity: 1;
}

input::placeholder,
textarea::placeholder {
  color: #9ca3af;
  opacity: 1;
}

button {
  cursor: pointer;
}

img,
svg {
  display: block;
  vertical-align: middle;
}

img {
  height: auto;
  max-width: 100%;
}

[hidden] {
  display: none;
}

.sr-only {
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  clip: rect(0, 0, 0, 0);
  border-width: 0;
  white-space: nowrap;
}

/* :export {
  mobile: 768px;
  sm: 320px;
  xsm: 640px;
  md: 768px;
  lg: 980px;
  xl: 1280px;
  xxl: 1440px;
  uhd: 1920px
} */

.jlu-icon {
  align-items: center;
  display: inline-flex;
  height: 24px;
  justify-content: center;
  width: 24px;
}

.jlu-icon:after {
  background-color: currentColor;
  content: "";
  display: flex;
  height: 100%;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
  width: 100%;
}

.jlu-icon_call:after {
  -webkit-mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Cpath fill='%238c939d' d='M19.44 20.5q-2.827 0-5.68-1.314t-5.242-3.71q-2.389-2.393-3.704-5.241Q3.5 7.386 3.5 4.56A1.03 1.03 0 0 1 4.55 3.5h3.262q.378 0 .668.247.289.247.368.61L9.421 7.3q.06.41-.025.704-.084.293-.304.494l-2.31 2.248q.558 1.02 1.275 1.932.716.91 1.55 1.74a17.3 17.3 0 0 0 3.753 2.842l2.244-2.264q.235-.245.568-.342.334-.099.693-.048l2.777.565q.38.1.619.387.24.285.239.65v3.242q0 .45-.303.75t-.757.3M6.073 9.327l1.785-1.708a.18.18 0 0 0 .062-.106.23.23 0 0 0-.005-.125l-.434-2.234a.2.2 0 0 0-.068-.116A.2.2 0 0 0 7.288 5H5.15a.13.13 0 0 0-.096.038.13.13 0 0 0-.039.097 12.8 12.8 0 0 0 1.058 4.192m8.7 8.642q.994.464 2.074.709t2.018.291a.13.13 0 0 0 .135-.134V16.73a.2.2 0 0 0-.038-.125.2.2 0 0 0-.116-.068l-2.1-.427a.16.16 0 0 0-.1-.004.25.25 0 0 0-.092.062z'/%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Cpath fill='%238c939d' d='M19.44 20.5q-2.827 0-5.68-1.314t-5.242-3.71q-2.389-2.393-3.704-5.241Q3.5 7.386 3.5 4.56A1.03 1.03 0 0 1 4.55 3.5h3.262q.378 0 .668.247.289.247.368.61L9.421 7.3q.06.41-.025.704-.084.293-.304.494l-2.31 2.248q.558 1.02 1.275 1.932.716.91 1.55 1.74a17.3 17.3 0 0 0 3.753 2.842l2.244-2.264q.235-.245.568-.342.334-.099.693-.048l2.777.565q.38.1.619.387.24.285.239.65v3.242q0 .45-.303.75t-.757.3M6.073 9.327l1.785-1.708a.18.18 0 0 0 .062-.106.23.23 0 0 0-.005-.125l-.434-2.234a.2.2 0 0 0-.068-.116A.2.2 0 0 0 7.288 5H5.15a.13.13 0 0 0-.096.038.13.13 0 0 0-.039.097 12.8 12.8 0 0 0 1.058 4.192m8.7 8.642q.994.464 2.074.709t2.018.291a.13.13 0 0 0 .135-.134V16.73a.2.2 0 0 0-.038-.125.2.2 0 0 0-.116-.068l-2.1-.427a.16.16 0 0 0-.1-.004.25.25 0 0 0-.092.062z'/%3E%3C/svg%3E");
}

.jlu-icon_linkedin:after {
  -webkit-mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Cpath fill='%230a66c2' d='M18.69 18.69h-2.816v-4.41c0-1.05-.019-2.404-1.464-2.404-1.467 0-1.69 1.145-1.69 2.328v4.485H9.903V9.623h2.703v1.239h.037a2.97 2.97 0 0 1 2.667-1.465c2.853 0 3.38 1.877 3.38 4.319zM6.726 8.382A1.64 1.64 0 0 1 5.093 6.75c0-.897.738-1.634 1.634-1.634s1.634.737 1.634 1.633-.738 1.634-1.634 1.634M8.135 18.69H5.317V9.623h2.818zM20.093 2.501H3.902A1.393 1.393 0 0 0 2.5 3.871v16.258c.009.76.642 1.379 1.402 1.37h16.19a1.396 1.396 0 0 0 1.408-1.37V3.869A1.395 1.395 0 0 0 20.093 2.5'/%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Cpath fill='%230a66c2' d='M18.69 18.69h-2.816v-4.41c0-1.05-.019-2.404-1.464-2.404-1.467 0-1.69 1.145-1.69 2.328v4.485H9.903V9.623h2.703v1.239h.037a2.97 2.97 0 0 1 2.667-1.465c2.853 0 3.38 1.877 3.38 4.319zM6.726 8.382A1.64 1.64 0 0 1 5.093 6.75c0-.897.738-1.634 1.634-1.634s1.634.737 1.634 1.633-.738 1.634-1.634 1.634M8.135 18.69H5.317V9.623h2.818zM20.093 2.501H3.902A1.393 1.393 0 0 0 2.5 3.871v16.258c.009.76.642 1.379 1.402 1.37h16.19a1.396 1.396 0 0 0 1.408-1.37V3.869A1.395 1.395 0 0 0 20.093 2.5'/%3E%3C/svg%3E");
}

.jlu-icon_location_on:after {
  -webkit-mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Cpath fill='%238c939d' d='M12 11.75q.725 0 1.238-.512.512-.513.512-1.238t-.512-1.238A1.7 1.7 0 0 0 12 8.25q-.725 0-1.238.512A1.7 1.7 0 0 0 10.25 10q0 .725.512 1.238.513.512 1.238.512m0 8.05q3.1-2.75 4.675-5.263T18.25 10.2q0-2.85-1.812-4.65T12 3.75t-4.438 1.8T5.75 10.2q0 1.825 1.575 4.337Q8.9 17.05 12 19.8m0 2q-3.9-3.4-5.825-6.3T4.25 10.2q0-3.625 2.338-5.788Q8.925 2.25 12 2.25t5.413 2.162Q19.75 6.575 19.75 10.2q0 2.4-1.925 5.3T12 21.8'/%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Cpath fill='%238c939d' d='M12 11.75q.725 0 1.238-.512.512-.513.512-1.238t-.512-1.238A1.7 1.7 0 0 0 12 8.25q-.725 0-1.238.512A1.7 1.7 0 0 0 10.25 10q0 .725.512 1.238.513.512 1.238.512m0 8.05q3.1-2.75 4.675-5.263T18.25 10.2q0-2.85-1.812-4.65T12 3.75t-4.438 1.8T5.75 10.2q0 1.825 1.575 4.337Q8.9 17.05 12 19.8m0 2q-3.9-3.4-5.825-6.3T4.25 10.2q0-3.625 2.338-5.788Q8.925 2.25 12 2.25t5.413 2.162Q19.75 6.575 19.75 10.2q0 2.4-1.925 5.3T12 21.8'/%3E%3C/svg%3E");
}

.jlu-icon_mail-outline:after {
  -webkit-mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Cpath fill='%238c939d' d='M4.3 19.5q-.75 0-1.275-.525A1.74 1.74 0 0 1 2.5 17.7V6.3q0-.75.525-1.275T4.3 4.5h15.4q.75 0 1.275.525T21.5 6.3v11.4q0 .75-.525 1.275T19.7 19.5zm7.7-6.95-8-5.1V17.7q0 .124.088.213A.3.3 0 0 0 4.3 18h15.4a.3.3 0 0 0 .213-.087A.3.3 0 0 0 20 17.7V7.45zM12 11l7.85-5H4.15zM4 7.45V6v11.7q0 .124.088.213A.3.3 0 0 0 4.3 18H4V7.45'/%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Cpath fill='%238c939d' d='M4.3 19.5q-.75 0-1.275-.525A1.74 1.74 0 0 1 2.5 17.7V6.3q0-.75.525-1.275T4.3 4.5h15.4q.75 0 1.275.525T21.5 6.3v11.4q0 .75-.525 1.275T19.7 19.5zm7.7-6.95-8-5.1V17.7q0 .124.088.213A.3.3 0 0 0 4.3 18h15.4a.3.3 0 0 0 .213-.087A.3.3 0 0 0 20 17.7V7.45zM12 11l7.85-5H4.15zM4 7.45V6v11.7q0 .124.088.213A.3.3 0 0 0 4.3 18H4V7.45'/%3E%3C/svg%3E");
}

@keyframes loading-dots {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.5);
  }

  to {
    transform: scale(1);
  }
}

@keyframes fade-in-681f4a35 {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-out-681f4a35 {
  0% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

*,
:after,
:before {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: ;
}

*,
:after,
:before {
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
}

:after,
:before {
  --tw-content: "";
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  font-family: var(--font-body), ui-sans-serif, system-ui;
  font-feature-settings: normal;
  font-variation-settings: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-tap-highlight-color: transparent;
}

body {
  line-height: inherit;
  margin: 0;
}

hr {
  border-top-width: 1px;
  color: inherit;
  height: 0;
}

h3 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

b {
  font-weight: bolder;
}

button,
input,
select,
textarea {
  color: inherit;
  font-family: inherit;
  font-feature-settings: inherit;
  font-size: 100%;
  font-variation-settings: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

button,
select {
  text-transform: none;
}

button,
input:where([type="button"]) {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

h3,
hr {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #9ca3af;
  opacity: 1;
}

input::placeholder,
textarea::placeholder {
  color: #9ca3af;
  opacity: 1;
}

button {
  cursor: pointer;
}

img,
svg {
  display: block;
  vertical-align: middle;
}

img {
  height: auto;
  max-width: 100%;
}

@keyframes jlui-pulse {
  50% {
    opacity: 0.5;
  }
}

/* [data-v-18a842a6]:export {
  mobile: 768px;
  sm: 320px;
  xsm: 640px;
  md: 768px;
  lg: 980px;
  xl: 1280px;
  xxl: 1440px;
  uhd: 1920px
} */

/* 
:export {
  mobile: 768px;
  sm: 320px;
  xsm: 640px;
  md: 768px;
  lg: 980px;
  xl: 1280px;
  xxl: 1440px;
  uhd: 1920px
} */

.resume-template-wrapper {
  color: #404b5b;
}

.resume-template-wrapper .text-subtle {
  color: #666f7c;
}

.resume-template-wrapper .bg-light {
  background-color: #f4f4f4;
}

.resume-template-wrapper .border-subtle {
  border-color: #c6c9ce;
}

@font-face {
  font-family: Arimo;
  font-style: normal;
  src: url(/nuxt/fonts/Arimo/Arimo-VariableFont_wght.ttf) format("truetype");
}

@font-face {
  font-family: Arimo;
  font-style: italic;
  src: url(/nuxt/fonts/Arimo/Arimo-Italic-VariableFont_wght.ttf)
    format("truetype");
}

@font-face {
  font-family: EB Garamond;
  font-style: normal;
  src: url(/nuxt/fonts/EB_Garamond/EBGaramond-VariableFont_wght.ttf)
    format("truetype");
}

@font-face {
  font-family: EB Garamond;
  font-style: italic;
  src: url(/nuxt/fonts/EB_Garamond/EBGaramond-Italic-VariableFont_wght.ttf)
    format("truetype");
}

@font-face {
  font-family: Open Sans;
  font-style: normal;
  src: url(/nuxt/fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf)
    format("truetype");
}

@font-face {
  font-family: Open Sans;
  font-style: italic;
  src: url(/nuxt/fonts/Open_Sans/OpenSans-Italic-VariableFont_wdth,wght.ttf)
    format("truetype");
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  src: url(/nuxt/fonts/Poppins/Poppins-Regular.ttf) format("truetype");
}

@font-face {
  font-family: Poppins;
  font-style: italic;
  font-weight: 400;
  src: url(/nuxt/fonts/Poppins/Poppins-Italic.ttf) format("truetype");
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  src: url(/nuxt/fonts/Poppins/Poppins-Medium.ttf) format("truetype");
}

@font-face {
  font-family: Poppins;
  font-style: italic;
  font-weight: 500;
  src: url(/nuxt/fonts/Poppins/Poppins-MediumItalic.ttf) format("truetype");
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  src: url(/nuxt/fonts/Poppins/Poppins-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: Poppins;
  font-style: italic;
  font-weight: 600;
  src: url(/nuxt/fonts/Poppins/Poppins-SemiBoldItalic.ttf) format("truetype");
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  src: url(/nuxt/fonts/Poppins/Poppins-Bold.ttf) format("truetype");
}

@font-face {
  font-family: Poppins;
  font-style: italic;
  font-weight: 700;
  src: url(/nuxt/fonts/Poppins/Poppins-BoldItalic.ttf) format("truetype");
}

@font-face {
  font-family: "Source Serif 4";
  font-style: normal;
  src: url(/nuxt/fonts/Source_Serif_4/SourceSerif4-VariableFont_opsz,wght.ttf)
    format("truetype");
}

@font-face {
  font-family: "Source Serif 4";
  font-style: italic;
  src: url(/nuxt/fonts/Source_Serif_4/SourceSerif4-Italic-VariableFont_opsz,wght.ttf)
    format("truetype");
}

@keyframes onetrust-fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

[data-theme="aurora"] {
  /* fonts and colors */
  /* floating button */
  /* hide OT logo */
}

@keyframes otFloatingBtnIntro {
  0% {
    opacity: 0;
    left: -75px;
  }

  100% {
    opacity: 1;
    left: 1%;
  }
}

@keyframes otFloatingBtnImageIntro {
  0% {
    opacity: 0;
    transform: scale(0) rotate(-270deg);
  }

  100% {
    opacity: 100%;
    transform: scale(0.95) rotate(0deg);
  }
}

.avoid-page-break {
  page-break-inside: avoid;
  break-inside: avoid;
}

.hrline-with-menu:hover .float-menu {
  display: flex;
}

.float-menu {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.section-cover {
  position: absolute;
  width: 100%;
  height: calc(100% + 5.5rem);
  top: -3rem;
  background-color: rgb(200, 200, 200, 0.3);
  z-index: 1;
  display: none;
}

.section-group:has(.float-menu:hover) .section-cover {
  display: block;
}

.bg-linear-to-r.from-gray-300.via-gray-500.to-gray-700 {
  background-image: linear-gradient(
    to right,
    #ececec,
    #e4e4e4 80%,
    #ececec,
    #e4e4e4 80%,
    #ececec
  );
}
